<a href="https://colab.research.google.com/github/van1991/NLP_Karthik/blob/master/Working_with_Text_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "
len(text1)

76

In [ ]:
# split the sentence by space
text2 = text1.split(" ")
print(text2)

['Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations', '']

### Basic operations on sentences

In [ ]:
[w for w in text2 if len(w) >3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [ ]:
[w for w in text2 if w.istitle()] #capitalized words

['Ethics', 'United', 'Nations']

In [ ]:
[w.lower() for w in text2 if w.istitle()] #capitalized words and convert it into lowercase

['ethics', 'united', 'nations']

### Regular Expression to search pattern

In [ ]:
# import regular expressions first
import re
text10 = "Ethics are built right into the ideals and objectives of the United Nations UNSG @NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women"
text11 = text10.split(" ")
[w for w in text11 if re.search ('@[A-Za-z0-9_]+',w)]

['@NY', '@UN', '@UN_Women']

#### There is lot of literature on regular expression, refer to it as in when you require it
reference: https://www.debuggex.com/cheatsheet/regex/python

In [ ]:
# let's try out couple of examples
dateStr = "23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n"
text12 = dateStr.split("\n")
text12

['23-10-2002',
 '23/10/2002',
 '23/10/02',
 '10/23/2002',
 '23 Oct 2002',
 '23 October 2002',
 'Oct 23, 2002',
 'October 23, 2002',
 '']

In [ ]:
[w for w in text12 if re.search('\d{2}[-]\d{2}[-]\d{4}', w)] # all dates with DD-MM-YYYY or MM-DD-YYYY

['23-10-2002']

In [ ]:
[w for w in text12 if re.search('\d{2}[/]\d{2}[/]\d{2,4}',w)] # all dates with DD/MM/YYYY or MM/DD/YYYY or YY

['23/10/2002', '23/10/02', '10/23/2002']

In [ ]:
[w for w in text12 if re.search('\d{2} [A-Za-z]* \d{4}',w) ] # all dates with DD MMM YYYY

['23 Oct 2002', '23 October 2002']

In [ ]:
[w for w in text12 if re.search('[A-Za-z] \d{2}[,] \d{4}',w)] # all dates with MMMM DD, YYYY

['Oct 23, 2002', 'October 23, 2002']

### Working with text data in Pandas

In [ ]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]
df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [ ]:
df['string_length'] = df['text'].str.len() # add a new column with string length
df

                                                text  string_length
0     Monday: The doctor's appointment is at 2:45pm.             46
1  Tuesday: The dentist's appointment is at 11:30...             50
2  Wednesday: At 7:00pm, there is a basketball game!             49
3  Thursday: Be back home by 11:15 pm at the latest.             49
4  Friday: Take the train at 08:10 am, arrive at ...             54

In [ ]:
df['count_words'] = df['text'].str.split().str.len() # add a new column wtih word count
df

                                                text  ...  count_words
0     Monday: The doctor's appointment is at 2:45pm.  ...            7
1  Tuesday: The dentist's appointment is at 11:30...  ...            8
2  Wednesday: At 7:00pm, there is a basketball game!  ...            8
3  Thursday: Be back home by 11:15 pm at the latest.  ...           10
4  Friday: Take the train at 08:10 am, arrive at ...  ...           10

[5 rows x 3 columns]

In [ ]:
df['is_appointment'] = df['text'].str.contains('appointment') # add a new column to check if appointment is present or not
df

                                                text  ...  is_appointment
0     Monday: The doctor's appointment is at 2:45pm.  ...            True
1  Tuesday: The dentist's appointment is at 11:30...  ...            True
2  Wednesday: At 7:00pm, there is a basketball game!  ...           False
3  Thursday: Be back home by 11:15 pm at the latest.  ...           False
4  Friday: Take the train at 08:10 am, arrive at ...  ...           False

[5 rows x 4 columns]

In [ ]:
df['count_digits'] = df['text'].str.count('\d') # add a column to count number of digits

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [ ]:
df['text'].str.replace(r'\w+day\b', '???') # replace weekdays with "???"

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object